<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<title>AB Reports</title>

	<!-- mobile responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- ** Plugins Needed for the Project ** -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/static/plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="/static/plugins/animated-text/animated-text.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

	<!-- Main Stylesheet -->
	<link href="/static/css/style.css" rel="stylesheet">

</head>

<body>
	<!-- Banner Start -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<h2 class="cd-headline clip is-full-width">
						AB Reports <br>
						<!-- <span class="cd-words-wrapper text-color">
							<b class="is-visible">Design solutions. </b>
							<b>Creative Ideas.</b>
							<b>Professional Content.</b>
						</span> -->
					</h2>
					<p>Nama Campaign : {{campaign_name | upper}} </p>
				</div>
			</div>
			<hr>
		</div>
	</section>

	<!-- Banner End -->

	<!-- POrtfolio start -->
	<section class="portfolio ">
		<div class="container">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col-lg-12">
						<div id="image-holder" class="image_holder">
						</div>
						<br>
						<br>
						<input id="photos" type="file" name="photos" multiple>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<a href="/campaign/detail/{{campaign_name}}/">
						<button class="mb-10 sm-100 btn btn-danger btn-xs">
							Batal
						</button></a>
						<button type="submit" class="mb-10 sm-100 btn btn-primary btn-xs">
							Upload Bukti Tayang
						</button>
					</div>
				</div>
			</form>
			<hr>
	</section>
	<!-- Portfolio End -->

	<!-- jQuery -->
	<script src="/static/plugins/jQuery/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="/static/plugins/animated-text/animated-text.js"></script>
	<!-- Main Script -->
	<script src="/static/js/script.js"></script>
	<script>
		$('[data-fancybox="gallery"]').fancybox({
			buttons: [
				'slideShow',
				'share',
				'zoom',
				'fullScreen',
				'close',
				'download'
			]
		});
		$("#photos").on('change', function () {

		     //Get count of selected files
		     var countFiles = $(this)[0].files.length;

		     var imgPath = $(this)[0].value;
		     var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
		     var image_holder = $("#image-holder");
		     image_holder.empty();

		     if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
		         if (typeof (FileReader) != "undefined") {

		             //loop for each file selected for uploaded.
		             for (var i = 0; i < countFiles; i++) {

		                 var reader = new FileReader();
		                 reader.onload = function (e) {
		                     $("<img />", {
		                         "src": e.target.result,
		                             "class": "thumb-image"
		                     }).appendTo(image_holder);
		                 }

		                 image_holder.show();
		                 reader.readAsDataURL($(this)[0].files[i]);
		             }

		         } else {
		             alert("This browser does not support FileReader.");
		         }
		     } else {
		         alert("Pls select only images");
		     }
		 });
	</script>

</html>